<div class="container">
  <a routerLink="addDepartement">Add New Departement</a>
</div>
<div class="card" style="width: 18rem;" *ngFor="let departement of listdepartements; let i=index">
  <div class="card-body">
    <h5 class="card-title">{{departement.nomDepart}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <button class ="btn btn-success">  <a href="#" class="card-link">Afficher</a> </button>
<button class="btn btn-danger"
(click)="deleteDepartement(departement.idDepart)"> <a href="#" class="card-link">Supprimer</a></button>
</div>
</div>

